input {
  height: 30px;
}

th {
  text-align: right;
}
table {
  margin-left: auto;
  margin-right: auto;
}
tr > th,
tr > td {
  padding-top: 15px;
  padding-bottom: 15px;
}
h1,
h2,
h3 {
  text-align: center;
  font-weight: bold;
}
.submitbtn {
  background-color: #74dc38;
  border-radius: 30px;
  font-size: 18px;
  padding: 8px 1%;
}
.submitbtn:active {
  background-color: #cbe8ba;
}
.errorText {
  color: red;
}
