table.rightAlignTD:first-child td {
  text-align: right;
}

.smallfont {
  font-size: 18px;
}

.savework {
  font-size: 19px;
  border-radius: 30px;
  padding: 6px 2%;
  cursor: pointer;
  background-color: #90ee90;
  font-weight: bold;
}

.savework:active {
  background-color: #90ee90;
  transform: translateY(4px);
}

td {
  padding: 13px;
}

input[type="text"] {
  font-size: 20px;
}

input[type="number"] {
  font-size: 20px;
}
