body {
  text-align: center;
}

input {
  height: 40px;
  margin-left: 10px;
  font-size: 17px;
}

table tr th:first-child {
  text-align: right;
  font-size: 25px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding-top: 1%;
  padding-bottom: 1%;
}

.forgot_password:hover {
  font-weight: bold;
}

#loginbtn {
  background-color: rgb(45, 199, 45);
  border-radius: 20px;
  font-size: 18px;
  width: 8%;
  height: 40px;
}

#loginbtn:hover {
  font-weight: bold;
}
strong {
  font-size: 30px;
  color: red;
}
