html {
  margin: 0;
  height: 100%;
}
body {
  font-family: "Fredoka One";
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0;
  height: 100%;
}

.smallfont {
  font-size: 12px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table.rightAlignTD:first-child td {
  text-align: right;
}

.buttonContainer {
  border-radius: 20px;
  font-size: 18px;
  width: fit-content;
  font-family: "Fredoka One";
  letter-spacing: 2px;
}
button {
  cursor: pointer;
}
h1 {
  color: #81c784;
  font-family: "Fredoka One";
  letter-spacing: 5px;
}
.errorText {
  color: red;
}
