body {
  font-family: Helvetica, Sans-Serif;
  font-size: 20px;
}

.smallfont {
  font-size: 12px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table.rightAlignTD:first-child td {
  text-align: right;
}

.buttonContainer {
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}
