html {
  height: 100%;
  width: 100%;
  background: linear-gradient(#00293a, #9198e5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Fredoka One";
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0;
}

.smallfont {
  font-size: 12px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table.rightAlignTD:first-child td {
  text-align: right;
}

.buttonContainer {
  border-radius: 20px;
  font-size: 18px;
  width: fit-content;
  font-family: "Fredoka One";
  letter-spacing: 2px;
}
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
}
h1 {
  color: #81c784;
  font-family: "Fredoka One";
  letter-spacing: 5px;
}
.errorText {
  color: red;
}
