h1 {
  text-align: center;
}

.profile_icon {
  text-align: center;
}
.profile_icon img {
  max-width: 20%;
  max-height: 20%;
  min-width: 20%;
  min-height: 20%;
}
.upload-container {
  text-align: center;
}
.upload-container input[type="file"] {
  text-align: center;
  font-size: 18px;
  width: fit-content;
  max-width: 350px;
  min-width: 250px;
  font-family: "Fredoka One";
  letter-spacing: 2px;
}

input::file-selector-button {
  text-align: center;
  font-size: 18px;
  width: fit-content;
  font-family: "Fredoka One";
  letter-spacing: 2px;
  border-style: solid;
  cursor: pointer;
}

.upload-container input[type="submit"] {
  text-align: center;
  border-radius: 20px;
  font-size: 18px;
  width: fit-content;
  max-width: 350px;
  min-width: 200px;
  font-family: "Fredoka One";
  letter-spacing: 2px;
}
.upload-container input {
  margin: 15px auto 15px auto;
  cursor: pointer;
}
.buttonContainer {
  max-width: 350px;
  min-width: 200px;
}
.errorText {
  color: red;
}
.successText {
  color: green;
}
