body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
}

#logoutbtn {
  border-radius: 30px;
  font-size: 20px;
  font-family: "Times New Roman";
  padding-right: 13px;
  padding-left: 13px;
}

h1 {
  text-align: center;
}

.profile_icon {
  text-align: center;
}

.upload {
  text-align: center;
}

.edit {
  border-radius: 30px;
  font-size: 18px;
  padding: 8px 1%;
}

.deletebtn {
  background-color: red;
  border-radius: 30px;
  font-size: 18px;
  padding: 8px 1%;
}
